<div class="backgroundimg" style="background-image: url('assets/images/simpleback.jpg')">
   <div class="relative p-8 overflow-hidden bg-no-repeat bg-cover">
        <div class="text-center my-6 relative">
            <div class="text-6xl font-bold mb-1 text-white">Rochester Electrician Co.</div>
            <div class="text-6xl text-blue-400 font-bold mb-4">Est. 1979</div>
            <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">We have been industry leaders in the greater Rochester/Gonic area for over 30 years. Feel free to reach out about any of our services at anytime</p>
            
            <div class="flex align-items-center justify-content-center flex-wrap">
                <input type="text" pInputText id="emailAddress" class=" border-white p-3 mr-3 mt-3" style="border-radius: 40px" size="30"  placeholder="Enter your email">
                <button type="button" label="Notify Me" pButton pRipple class="p-3 mt-3" style="border-radius: 40px" ></button>
            </div>
        </div>
    </div>
</div>
